@model IEnumerable<MyInstagram.Data.Entities.Article>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div id="Articles">
            @foreach (var article in Model)
            {
                <div class="col-md-6 col-md-offset-3">

                    <div class="thumbnail">
                        <a class="text-center" href="@Url.Action("Page", "User", new { userName = article.ApplicationUser.UserName })">
                            <h3>@article.ApplicationUser.UserName</h3>
                        </a>
                        <hr />
                        <img class="img-responsive" style="width:100%; display: block;" src="@Url.Action("GetArticleImage", "Articles",
                                new { article.ArticleId })" alt="abc">
                        <hr />
                        <strong>Description:</strong>
                        @article.Description
                    </div>
                </div>
            }
        </div>
        @if (Model.Count() != 0)
        {
            <div class="col-md-12 text-center">
                <input type="button" value="show more" id="btn" class="btn btn-danger" />
            </div>
        }
        else
        {
            <h1 class="col-md-12 text-center">
                Users that you follow don't have any articles
            </h1>
        }
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
        $('#btn').click(function () {
            var a = $('#Articles').children().length;
            $.ajax({
                url: '@Url.Action("Index", "Articles")',
                data: { count: a },
                type: "POST",
                success: function (data) {
                    if (data) {
                        $('#Articles').append(data);
                    }
                    else {
                        $('#btn').hide();
                    }
                }
            });
        })
        //$(document).ready(function () { alert(a)});
    </script>
}


