@model IEnumerable<MyInstagram.Data.Entities.UserProfile>

@{
    ViewBag.Title = "UserList";
}

<div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <hr />
                <h5 class="text-center">User list</h5>
                <ul class="list-unstyled">
                    @foreach (var profile in Model)
                    {
                        <li class="media">
                            <img class="pull-left img-circle" src="@Url.Action("GetPageImage", "User",new { Id = profile.Id })" alt="Generic placeholder image" width="64" height="64">
                            <div class="media-body">
                                <h4> @profile.FirstName @profile.LastName</h4>
                                <span>
                                    <strong>user name:</strong><strong class="text-primary text-uppercase">@profile.AppUser.UserName</strong>
                                    <strong>sex:</strong><strong class="text-primary text-uppercase">@profile.Sex</strong>
                                    <strong>country:</strong><strong class="text-primary text-uppercase">@profile.Country</strong>
                                </span>
                            </div>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
