@model MyInstagram.WebUI.Models.UserViewModel

@{
    ViewBag.Title = "UserPage";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            @*<img class="img-responsive img-circle" style="margin:0 auto" src="http://placehold.it/256x256" alt="">*@
            <img class="img-circle" style="margin:0 auto" width="256" height="256" src="@Url.Action("GetPageImage", "User",new { Id = Model.UserId })" alt="">
            <h1>
                @Model.FirstName @Model.LastName
                @if (Model.IsAuthenticated)
                {
                    if (Model.IsOwnPage)
                    {
                        @Html.ActionLink("Edit Profile", "Edit", "Profile", null, new { @class = "btn btn-primary" });
                        @Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "btn btn-primary", @style = "margin-left: 20px;" });
                    }
                    else
                    {
                        string a = "Follow";
                        if (Model.IsFollowing)
                        {
                            a = "Unfollow";
                        }
                        using (Ajax.BeginForm(new AjaxOptions
                        {
                            UpdateTargetId = "FollowersCount",
                            HttpMethod = "POST",
                            Url = "/api/art/FollowUnfollow",
                            OnSuccess = "suc",
                            OnFailure = "fail"
                        }))
                        {
                            <input type="text" name="fromUserId" hidden="hidden" value=@Model.CurrentUserId />
                            <input type="text" name="toUserId" hidden="hidden" value=@Model.UserId />
                            <input id="subbtn" type="submit" value=@a class="btn btn-primary" />
                        }
                    }
                }


            </h1>

            <ul class="list-inline">
                <li>

                    <span id="ArticlesCount" class="badge pull-right">@Model.ArticlesCount</span>
                    Articles
                </li>
                <li>
                    <a href="/User/FollowersList?userId=@Model.UserId">
                        <span id="FollowersCount" class="badge pull-right">@Model.FollowersCount</span>
                        Followers
                    </a>
                </li>
                <li>
                    <a href="/User/FollowingList?userId=@Model.UserId">
                        <span id="FollowingCount" class="badge pull-right">@Model.FollowingCount</span>
                        Following
                    </a>
                </li>
            </ul>
            <hr />
        </div>
    </div>

    
</div>
<div class="container-fluid">
    <div class="row">
        @Html.Action("Photos", "Articles", new { userId = Model.UserId })
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function clk(elem) {
            elem.text = "Deleted";
            elem.className = "btn btn-danger";
            //el.style.display = 'none';
        }
    </script>
}